# https://help.github.com/articles/dealing-with-line-endings/

# Declare files that will always have LF line endings on checkout.
* text eol=lf

# Windows CMD does not like LF in batch files
*.bat text eol=crlf
*.cmd text eol=crlf
